.card {
      padding: 50px;
      width: 15rem;

  }
  
 .card-text {
     align-content: center;
 }
 h2{
     text-align: left;
 }

 h3{
     font-size: 15px;
 }

 .jumbotron {
     height: 50px;
 }